body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* GENERAL */

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-space-evenly {
    justify-content: space-evenly;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}


/* NAVBAR */

nav {
    background-color: #1b1c1c;
    height: 60px;
    padding: 20px;
    font-size: 17px;
}

.navbar {
    width: 80%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(153, 149, 149);
    transition: 0.5s;
}

.title {
    font-weight: 500;
    font-size: 35px;
    color: white;
    font-family: 'Newsreader', serif;
}

.title i {
    margin-right: 8px;
    font-size: 50px;
}

.options {
  width: 40%;
}

.hidden-menu {
  color: white;
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 600px) {
  .options {
    display: none;
  }

  .hidden-menu {
    display: inline-block;
  }
}